<%= form_for [:admin, @article] do |form| %>
  <div class="form-group c-article__form">
    <%= render partial: "shared/error_messages", locals: { object: @article } %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :text %>
      <%= form.text_area :text, class: "form-control c-article__form-input-large" %>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
