<% @articles.each do |article| %>
  <div class="c-article">
    <table class="c-article__table">
      <tr>
        <td class="c-article__date">
          <%= article.created_at.to_s(:long) %>
        </td>
        <td class="c-article__image" align="center">
          <div class="o-container__article-hero">
            <%= image_tag("article_hero", class: "c-article__hero-image") %>
          </div>
        </td>
        <td class="c-article__title">
          <h1>
            <%= article.title.upcase %>
          </h1>
        </td>
        <td class="c-article__text">
          <p>
            <%= simple_format article.text %>
          </p>
        </td>
        <td class="c-article__link">
          <%= link_to "READ ARTICLE", article_path(article) %>
        </td>
      </tr>
    </table>
    <hr />
  </div>
<% end %>
