<div class="c-signup">
  <% provide(:title, "Sign up") %>
  <h1>Sign up</h1>

  <%= form_for(@user) do |f| %>
    <%= render "shared/error_messages" %>
    <%= f.label :name %>
  <div class="c-signup__form">
    <%= f.text_field :name, class: "form-control" %> <br />
  </div>
    <%= f.label :email %>
  <div class="c-signup__form">
    <%= f.email_field :email, class: "form-control" %><br />
  </div>
    <%= f.label :password %>
  <div class="c-signup__form">
    <%= f.password_field :password, class: "form-control" %><br />
  </div>
    <%= f.label :password_confirmation, "Confirmation" %>
  <div class="c-signup__form">
    <%= f.password_field :password_confirmation, class: "form-control" %><br />
  </div>
    <%= f.submit "Create my account" %>
  <% end %>
</div>
