<!DOCTYPE html>
<html>
  <head>
    <title>Owen Smooth Wuk Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ='o-container'>
      <div class='o-container_nav'>
        <div class='c-navigation'>
          <div class='c-navigation_logo'>
            <a href='https://github.com/owensmooth'>
              <%= image_tag('github')%>
            </a>
            <a href='https://www.linkedin.com/in/owen-smith-7ba94415b/'>
              <%= image_tag('linkedin') %>
            </a>
            <div class='c-navigation_links'>
              <%= link_to 'Home', root_path %>
              <%= link_to 'Articles', articles_path %>
              <%= link_to 'Login', admin_articles_path %>
            </div>
          </div>
        </div>
      </div>
      <div class='o-container_header'>
        <div class='c-header_text'>
          <h1>OWEN SMITH</h1>
          <h2>WORK DEVELOPMENT BLOG</h2>
        </div>
      </div>
      <div class='o-container_content'>
        <div class='c-content'>
          <div class='c-content_body'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
