<!DOCTYPE html>
<html>
  <head>
    <title>Owen Smooth Wuk Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class ="o-container">
      <div class="o-container__nav">
        <input type="checkbox" id="burger-menu" class="c-navigation__checkbox" />
        <label for="burger-menu" class="c-navigation__hamburger">
          Menu
        </label>
        <nav class="c-navigation">
          <div class="c-navigation__logo">
            <a href="https://github.com/owensmooth">
              <%= image_tag("github")%>
            </a>
            <a href="https://www.linkedin.com/in/owen-smith-7ba94415b/">
              <%= image_tag("linkedin") %>
            </a>
          </div>
          <div class="c-navigation__links">
            <ul class="c-navigation__links-list">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_index_path %></li>
              <li><%= link_to "Articles", articles_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
              <li><%= link_to "Login", admin_path %></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="o-container__header">
        <div class="c-header__text">
          <h1>OWEN SMOOV</h1>
          <h2>DEV BLOG</h2>
        </div>
      </div>
      <div class="c-navigation__dropdown-   ">
      </div>
      <div class="o-container__content">
        <div class="c-content">
          <div class="c-content__body">
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render partial: "layouts/partials/footer" %>
    </div>
  </body>
</html>
